<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Reportes" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Reportes" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<script src="/js/jquery-ui-1.8.17.min.js"></script>
     <script type="text/javascript" language="javascript" src="/js/advanced-datatable/media/js/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="/js/advanced-datatable/extras/TableTools/media/js/TableTools.js"></script>
  <script type="text/javascript" language="javascript" src="/js/advanced-datatable/extras/TableTools/media/js/ZeroClipboard.js"></script>
   <link href="/js/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
   <link href="/js/advanced-datatable/extras/TableTools/media/css/TableTools.css" rel="stylesheet" />
   <script type="text/javascript" language="javascript" src="/js/advanced-datatable/plugins/numeric-comma.js" ></script>
   <script type="text/javascript" language="javascript" src="/js/advanced-datatable/plugins/date-dd-MMM-yyyy.js" ></script>
  <script type="text/javascript" language="javascript" src="/js/advanced-datatable/plugins/date-eu.js" ></script>
  <script type="text/javascript" language="javascript" src="/js/advanced-datatable/plugins/date-euro.js" ></script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">

       <%= render 'layouts/messages' %>
       <br>
       <%= yield %>
    </main>
  </body>
</html>
